@import "tailwindcss";

/* custom clerk signin button */
.cl-avatarBox{
    height: 2rem;
    width: 2rem;
}
/* ?carousels arrows */
.arrows{
    height: 40px;
    width: 40px;
}

/* ! filter inputs */
input{
    background-color: #ffffff;
    accent-color: red;
    border: 1px solid #ccc;
    color: #333;


}

.card-3d {
  transition: transform 0.4s ease;
  transform-style: preserve-3d;
}
.card-3d:hover {
  transform: rotateY(10deg) rotateX(10deg) scale(1.05);
}